<p-toast>
</p-toast>
<app-navigation-bar></app-navigation-bar>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="small" color="#fff" type="timer" [fullScreen]="true"></ngx-spinner>
<div class="container-box">
    <p-table [value]="exam" responsiveLayout="scroll" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]"
        styleClass="p-datatable-sm p-datatable-striped" [loading]="loading" [globalFilterFields]="['exam_bank_id']">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                தேர்வு பட்டியல்
                <button pButton class="p-button-outlined p-button-rounded p-button-orange p-button-sm float-right" icon="pi pi-plus" (click)="examAction('', 'new')"></button>
                <div class="clear-fix"></div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr class="text-center">
                <th class="text-center">தேர்வு எண்</th>
                <th class="text-center">தேர்வு பெயர்</th>
                <th class="text-center">தேர்வுக் குறியீடு</th>
                <th class="text-center">தேர்வு விளக்கம்</th>
                <th class="text-center" width="20%">நடவடிக்கை</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-exam>
            <tr class="text-center">
                <td class="text-center">{{exam.exam_id}}</td>
                <td class="text-center">{{exam.exam_name}}</td>
                <td class="text-center">{{exam.exam_code}}</td>
                <td class="text-center">{{exam.exam_description}}</td>
                <td class="text-center">
                    <button type="button" pButton class="p-button-outlined p-button-rounded p-button-success m-1" pRipple icon="pi pi-user" (click)="showDialog(exam.exam_code)"></button>
                    <button type="button" pButton class="p-button-outlined p-button-rounded p-button-success m-1" pRipple icon="pi pi-eye" (click)="examAction(exam, 'view')"></button>
                    <button type="button" pButton class="p-button-outlined p-button-rounded p-button-warning m-1" pRipple icon="pi pi-pencil" (click)="examAction(exam, 'edit')"></button>
                    <button type="button" pButton class="p-button-outlined p-button-rounded p-button-danger m-1" pRipple icon="pi pi-trash" (click)="examAction(exam, 'delete')"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <button pButton class="p-button-outlined p-button-rounded p-button-orange p-button-sm float-right mb-1" icon="pi pi-plus" (click)="examAction('', 'new')"></button>
            <div class="clear-fix"></div>
        </ng-template>

    </p-table>

    <p-dialog header=" பயனர் பட்டியல்" [(visible)]="display" [style]="{width: '90vw'}">
        <p-table #dt1 [value]="examUserLIst" responsiveLayout="scroll" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]"
            styleClass="p-datatable-sm p-datatable-striped" [loading]="loading" [globalFilterFields]="['candidate_name','candidate_mobile','candidate_score']">
            <ng-template pTemplate="caption">
                <div class="p-d-flex">
                    <button pButton label="Clear" class="p-button-outlined float-right ml-2" (click)="clear(dt1)" icon="pi pi-filter-slash"></button>
                    <span class="p-input-icon-left p-ml-auto float-right">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" [(ngModel)]="filterSearchData" (keyup)="filterData(dt1)" placeholder="Search keyword" />
                    </span>
                    <div class="clear-fix"></div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr class="text-center">
                    <th class="text-center">தேர்வு பெயர்</th>
                    <th class="text-center">பயனர் தொலைபேசி எண் </th>
                    <th class="text-center">தேர்வு மதிப்பெண்</th>
                    <th class="text-center">தேர்வு பெயர்</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-examUserLIst>
                <tr class="text-center">
                    <td class="text-center">{{examUserLIst.candidate_name | titlecase}}</td>
                    <td class="text-center">{{examUserLIst.candidate_mobile}}</td>
                    <td class="text-center">{{examUserLIst.candidate_score}}</td>
                    <td class="text-center">{{examUserLIst.exam_name | titlecase}}</td>

                </tr>
            </ng-template>
        </p-table>
    </p-dialog>

</div>