<app-navigation-bar></app-navigation-bar>
<div class="container-box">
    <div class="p-card">
        <h5>Vertical and Grid</h5>
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="firstname2">Firstname</label>
                <input id="firstname2" type="text" pInputText>
            </div>
            <div class="p-field p-col">
                <label for="lastname2">Lastname</label>
                <input id="lastname2" type="text" pInputText>
            </div>
        </div>
    </div>
    <div class="box p-15">
        <div class="box-header">
            <h4>Question <span class="question-count">{{questionid}}</span></h4>

        </div>

        <div class="p-field">
            <label for="fieldId">Label</label>
            <input id="fieldId" type="text" pInputText>
        </div>
        <div class="p-field p-col-4 p-md-4">
            <span class="p-float-label">
                    <input type="text" id="question_id" pInputText readonly> 
                    <label for="question_id">Question Id</label>
                </span>
        </div>


    </div>
</div>