<app-user-navigation-bar></app-user-navigation-bar>
<p-toast>
</p-toast>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="small" color="#fff" type="timer" [fullScreen]="true"></ngx-spinner>

<div class="container-box">

    <div class="cols-4" *ngFor="let exam of exams;">
        <p-card>
            <div class="cols-12 p-relative content">
                <div class="cols-4">
                    <img alt="Card" src="http://neoeconomistsacademy.in/images/logo.png">
                </div>
                <div class="cols-8">
                    <h4 class="mb-1 text-900">{{exam.exam_name | titlecase}} ({{exam.exam_code | titlecase}})</h4>
                    <p class="p-0 mb-5">{{exam.exam_description | titlecase}}</p>

                </div>
            </div>
            <div class="clear-fix"></div>
            <ng-template pTemplate="footer">
                <div *ngIf="!exam.candidate_scores; else elseBlock">
                    <button pButton label="Pay & Start (Rs.10)" (click)="conditionCheckForExam(exam.exam_code, 'C')" class="pay-button p-button-outlined p-button-rounded p-button-orange p-button-sm m-1"></button>
                    <button pButton label="Free Credit & Start (1)" (click)="conditionCheckForExam(exam.exam_code , 'F')" class="pay-button p-button-outlined p-button-rounded p-button-orange p-button-sm m-1"></button>
                </div>
                <ng-template #elseBlock>
                    <button pButton label="View Result - {{exam.candidate_scores}}" (click)="viewResult(exam.exam_code)" class="pay-button p-button-outlined p-button-rounded p-button-orange p-button-sm m-1 float-right"></button>
                    <div class="clear-fix"></div>
                    <!-- <h4 class="text-center">Score - {{exam.candidate_scores}}</h4>-->
                </ng-template>
            </ng-template>
        </p-card>
    </div>
</div>